body {
  margin: 0;
  background: rgb(69, 210, 241);
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
header {
  width: 100%;
}
#first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:9rem;
}
#score span{
  font-size: 50px;
  color: #f44336;
}
#timer {
  margin-bottom: 8px;
  font-size: 50px;
  text-align: center;
}
main{
  display: flex;
  flex-direction: row;
}
#container {
  width: 350px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#monkey-left .coconut{
  width: 350px;
  height: 650px;
  position: relative;
}
.monkey {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
#monkey-right img{
  width: 350px;
  height: 650px;
} 
/* .penguin{
  width: 500px;
  height: 200px;
} */
#board {
  width: 500PX;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: rgb(232, 230, 117);
  border-radius: 4px;
  align-items: center;
}
#board.win {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: rgb(247, 69, 46);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 #f9e2e2;
}
#board.lost {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: rgb(118, 115, 115);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 #f9e2e2;
}
#board li {
  background: #00aaff;
  width: 140px;
  height: 140px;
  margin: 13px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
  font-size: 80px;
  line-height: 150px;
}
#board li.clear{
  background: rgb(42, 253, 27);
  box-shadow: none;
}
#board li.clicked {
  background: #ccc;
  box-shadow: none;
}
#board li.lost {
  background: rgb(125, 123, 123);
  box-shadow: none;
}
#btn {
  width: 500PX;
  height: 80px;
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
  font-size: 80px;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}

#dialog1 {
  background-color: antiquewhite;
  font-size: 50px;
  font-family: 'Courier New', sans-serif;
}

#dialog2 {
  border:none;
  background-color: rgb(215, 240, 22);
  font-size: 50px;
  font-family: 'Courier New', sans-serif;
  text-align: center;
}
#dialog2 button{
  width: 150px;
  height: 50px;
  border: none;
  box-shadow: 0 4px 10px #a9a7a7;
  border-radius: 5px;
  background-color: rgb(46, 179, 223);
  color: #fff;
  font-size: 30px;
}
