body {
  background: rgb(69, 210, 241);
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#container {
  /* 80px * 4 + 10px * 3 */
  width: 330px;
  margin: 0 auto;
  padding: 0;
}
#score span{
  font-size: 50px;
  color: #f44336;
}
#first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#board {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}
#board.win {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: rgb(232, 230, 117);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 0 #9d9110;
}
#board li {
  background: #00aaff;
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
  font-size: 40px;
}

#board li.clicked {
  background: #ccc;
  box-shadow: none;
}

#timer {
  margin-bottom: 8px;
  font-size: 50px;
  text-align: center;
}

#btn {
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}